/*CSS document*/
body {
    font-family: greycliff-cf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9169em;
	line-height: 1.6em;
	color: #222;
	background-color: #FAF9F6;
	box-sizing: border-box;
}

nav{
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin: 2em 0 2em 0;
}

nav ul li a{
    font-family: greycliff-cf, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.0831em;
    line-height: 0.3em;
    margin: 0.5em;
}


h2 h3{
    font-family: greycliff-cf, sans-serif;
    font-weight: 800;
    font-style: normal;
}

h3{ 
    font-size: 1.4em;
    margin-bottom: 0; 
    color: #D4A373;
}

section.newsletter-link h3{
    color: #222;
    text-decoration: underline;
    margin: 2 auto 1 1;
}

h2{ 
    font-size: 1.75em;
    line-height: 1.2em;
}

section p{
    margin-top: 0.4em;
}

figcaption{
    font-family: greycliff-cf, sans-serif;
    line-height: 1.4em;
    font-weight: 300;
    font-style: italic;
    font-size: 0.8em;
}

div.container {
    max-width: 40em;
    margin: auto;
}

figure {
    margin: 0;:
}


ul {
    list-style-type: none;
    padding: 0;
}

a{ 
    text-decoration: none;
    color: rgb(80,80,80)
}

footer{
    font-family: greycliff-cf, sans-serif;
    font-weight: 300;
    font-style: italic;
    margin: 1 2 1 1;
    
}

section.newsletter-link{
    margin: auto;
    text-align: center;
    padding: 2em;
}


div.photogallery{
    max-width: 100%;
    margin: 0 auto;
    padding: 1em;
}

div.photogallery h2{
    margin: 0.5em auto;
}

div.photogallery main{
    position: relative;
    overflow: hidden;
    padding-bottom: calc(72% + 6.5em);
    
}

div.photogallery main figure{
    margin: 0;
    width: 100%;
    position: absolute;
    left: 100%;
    opacity: 0;
    transition: opacity 0.5s; 
}

div.photogallery figcaption{
    font-size: 1.2em;
    font-weight: normal;
    color:#222;
}

input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    left: 0;
    opacity: 1;
}

div.photogallery nav{
    display: flex;
    flex-wrap: wrap;
}

div.photogallery nav label{
    flex: 1 0 5em;
}

div.photogallery input{
    display: none;
}

div.form main{
    display: flex;
    flex: wrap;
    flex-direction: column;
}

 div.form h2{
    flex: 0 0 100%;
}

section.personal-info ul li {
    display: flex;
    flex: wrap;
	margin-bottom: 1em;
}

section.personal-info ul li input[type="text"],
section ul li input[type="email"],
section ul li input[type="tel"],
section ul li select {
	flex: 1 0 15em; 
    margin-left: 1em;;
	box-sizing: border-box;
}


section.content-type ul li {
	flex: 1 0 15em;
	}

ul {
    padding: 0;
    list-style-type: none;
    }

section p {
    margin-top: 0;
}

textarea {
    box-sizing: border-box;
    display: block; 
    width: 100%; 
    height: 6em;
    background: #fcfcfc;
    border: 1px solid #e8e8e8;
    padding: 0.4em;
    font-family:g reycliff-cf, sans-serif;
    color: #777;
}

section.button{
    margin-top: 2em;
    margin-bottom: 10em;
}

footer{
    background-color: #D4A373;
    max-width: 100%;
    min-height: 5em;
    padding-top: 1em;
    padding-left: 40%;
    padding-right: 40%;
    padding-bottom: 0.5em;;
}

footer p{
    text-align: center;
    line-height: 1.2em;
}


@media screen and (min-width: 60em){
    nav ul{
        text-align: center;
    }

    nav ul li{ 
        display: inline;
    }
    
    div.container{
        display: grid;
        max-width: 80em;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 1em;
    }


    header{
        margin: auto;
        grid-column: 1/3;
        max-width: 80%;
    }

    main{
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 0 1em;
    }

    section.mainstory{
        grid-column: 2/4 ;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }

    section.mainstory figure{
        flex: 1 0 18em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory h3{
        flex: 0 0 auto;
        margin: 0;
    }

    section.mainstory p{
        flex: 0 0 auto;
        margin: 0;
    }
    
    section.mainstory figure img{
        height: 100%;
        margin-bottom: 1.5em;
    }

    aside{
        grid-column: 2/3;
    }

    div.form{
        margin: auto;
    }

}

h1{
    width: auto;
    margin: 1em auto 0.3em auto;

}

img {
    width: 100%;
}

@media screen and (prefers-color-scheme: dark){
    h1 {  
        background-image: url("coffee_break_logo_light.svg");  
        background-repeat: no-repeat;  
        background-size: contain;
        color:#FAF9F6; 
    }  

    h1 img {  
            opacity: 0;  
    }

    nav ul li a{
        color: #e8e8e8;
    }

    body{
        background-color: rgb(39,30,30);
    }

    main{
        color: #F3F4F8;
    }

    h2{
        color: #F3F4F8;
    }

    h4{
        color: #F3F4F8;
    }

    p{
        color: #F3F4F8;
    }

    footer{
        background-color: #D4A373;

}