/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

body {
    background-color: rgb(250,250,250);
    color: rgb(40, 40, 40);
    font-family: sans-serif;
}

h1 {
    background-color: rgb(237,142,52);
    color: rgb(250,250,250);
	font-size: 3rem;
	padding: 1rem; 
    
    font-family: Sutro, sans-serif; /*This is Sutro Bold*/
	font-weight: 700;
    font-style: normal;
}
h2 {
    background-color: rgb(237,142,52);
    color: rgb(248,222,191);
    font-size: 2rem;
    padding: 1rem; 
    
    font-family: Sutro, serif; /*This is Sutro Light*/
	font-weight: 300;
    font-style: normal;
}

figcaption {
       color: rgb(40,40,40);
    font-family: poppins, sans-serif;  
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: italic;
    font-size: 1.23rem;
    padding: 1rem 1rem 2rem;
    line-height: 1.5em;
}

h3 {
    color: rgb(237,142,52);
    font-size: 1.5rem;
    padding: 1rem;
    
    font-family: Sutro, serif; /*This is Sutro Light*/
	font-weight: 300;
    font-style: normal;
}

ul {
    color:rgb(40, 40, 40);
    line-height: 1.5rem;
    font-size: 1rem;
	padding: 0.3rem 2rem 1rem;
	

    font-family: poppins, sans-serif; /*This is Poppins Regular*/
    font-weight: 400;
    font-style: normal;
}

ol {
    color:rgb(40, 40, 40);
    line-height: 1.5rem; 
    font-size: 1rem;
	padding: .5rem 2rem 3rem;
	padding-bottom: 3rem;
	
	

    font-family: poppins, sans-serif; /*This is Poppins Regular*/
    font-weight: 400;
    font-style: normal;
}

li { 
    margin: 1rem, 0rem;
	padding: 0.4rem
}

footer {
    background-color: rgb(237,142,52);
    color: rgb(250,250,250);
	font-size: 1rem;
	padding: 1rem;

    font-family: poppins, sans-serif; /*This is Poppins Regular*/
    font-weight: 400;
    font-style: normal;
}



